@font-face {
    font-family: 'Montserrat Alternates';
    src: url(../../public/Montserrat_Alternates/MontserratAlternates-SemiBold.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(../../public/Montserrat/static/Montserrat-Medium.ttf);
}